<a href="https://colab.research.google.com/github/ys23-lys/ESAA/blob/main/ESAA_YB_WEEK1_%ED%95%84%EC%82%AC2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 판다스 시작 - 파일을 DataFrame으로 로딩, 기본 API

In [2]:
import pandas as pd

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

**read_csv()**: col을 콤마(',')로 구분한 파일 포맷 변환.
- 다른 필드 구분 문자 기반의 파일 포맷도 DataFrame으로 변환 가능. > read_csv('파일명',**sep='\t'**)
- **filepath** 인자: 로드하려는 데이터 파일의 경로를 포함한 파일명 입력.

read_table(): col을 탭('\t')로 구분한 파일 포맷 변환.

read_fwf(): 고정 길이 기반의 칼럼 포맷 로딩.

**read_csv()**

- (파라미터 지정 없을 시) 데이터 파일의 첫 번째 줄에 있던 col 문자열 >  DataFrame의 col 할당
- 콤마(',')로 분리된 데이터값들이 col에 맞게 할당.
- Index 객체 값: 고유의 레코드를 식별하는 역할.

DataFrame: DataFrame의 모든 데이터 표출.

DataFrame.head(): DataFrame의 맨 앞에 있는 N개 row 반환.

In [5]:
titanic_df=pd.read_csv('/content/drive/My Drive/train.csv')
print('titanic 변수 type:',type(titanic_df))
titanic_df

titanic 변수 type: <class 'pandas.core.frame.DataFrame'>

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [6]:
titanic_df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

shape(): DataFrame의 행과 열을 튜플 형태로 반환.

info(): 총 데이터 건수, 데이터 타입, Null 건수.
- RangleIndex: DataFrame index의 범위 > 전체 row 수
- Dtype: col별 데이터 타입
- Non-Null Count: 몇 개의 데이터가 Null값이 아닌지
- dtypes: 전체 col의 타입을 요약.

describe(): 칼럼별 숫자형 데이터값의 n-percentile **분포도**, 평균값, 최댓값, 최솟값.
- 숫자형(int, float) 칼럼의 분포도만 조사함. object 타입 제외.
- 계략적인 분포도 확인 가능.

In [7]:
print('DataFrame 크기:',titanic_df.shape)

DataFrame 크기: (891, 12)

In [8]:
titanic_df.info()

# RangleIndex: DataFrame index의 범위 > 전체 row 수
# Dtype: col별 데이터 타입
# Non-Null Count: 몇 개의 데이터가 Null값이 아닌지
# dtypes: 전체 col의 타입을 요약.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [9]:
titanic_df.describe()

# count: Null값이 아닌 데이터 건수
# mean: 전체 데이터의 평균값 / std: 표준편차 / min, max: 최솟값, 최댓값
# n%: n percentile 값

# 카테고리 칼럼: 특정 범주에 속하는 값을 코드화한 칼럼 ex. 성별 칼럼

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

DataFrame['칼럼명']: Series 형태로 칼럼 데이터 세트 반환.

value_counts(): 지정된 칼럼의 데이터값 건수 반환. **데이터 분포도** 확인.
- 많은 건수 순서로 정렬.

DataFrame['칼럼명'].value_counts(): 해당 칼럼값의 유형과 건수 반환.

In [10]:
value_counts=titanic_df['Pclass'].value_counts()
print(value_counts)

Pclass
3    491
1    216
2    184
Name: count, dtype: int64

In [11]:
titanic_pclass=titanic_df['Pclass']
print(type(titanic_pclass))

<class 'pandas.core.series.Series'>

Series: Index와 1개의 col로 구성된 데이터 세트.
- 12.. 0~4 순차 값 = DataFrame의 Index
- 13.. 3, 1, 2 인덱스값: **고유성이 보장된다면** 의미 있는 데이터값 할당 가능.
- 인덱스는 DataFrame, Series가 만들어진 후에도 변경 가능. 숫자형, 문자열 가능.

In [12]:
titanic_pclass.head()

0    3
1    1
2    3
3    1
4    3
Name: Pclass, dtype: int64

In [13]:
value_counts=titanic_df['Pclass'].value_counts()
print(type(value_counts))
print(value_counts)

<class 'pandas.core.series.Series'>
Pclass
3    491
1    216
2    184
Name: count, dtype: int64

NULL값을 포함하여 개별 데이터값의 건수를 계산할지를 **dropna 인자**로 판단.
- **dropna**: **기본값 True (NULL값 제외한 뒤 연산.)** / False 지정 시 NULL값을 포함하여 개별 데이터값 건수 계산.

In [14]:
print('titanic_df 데이터 건수:',titanic_df.shape[0])
print('기본 설정인 dropna=True로 value_counts()')
# value_counts()는 디폴트로 dropna=True이므로 value_counts(dropna=True)와 동일.
print(titanic_df['Embarked'].value_counts()) # NULL값 제외한 뒤 연산 수행.
print(titanic_df['Embarked'].value_counts(dropna=False)) # NULL값 포함. > False

titanic_df 데이터 건수: 891
기본 설정인 dropna=True로 value_counts()
Embarked
S    644
C    168
Q     77
Name: count, dtype: int64
Embarked
S      644
C      168
Q       77
NaN      2
Name: count, dtype: int64

## DataFrame과 리스트, 딕셔너리, 넘파이 ndarray 상호 변환

### 넘파이 ndarray, 리스트, 딕셔너리를 DataFrame으로 변환하기

DataFrame: 칼럼명 有 (<-> 리스트, 넘파이 ndarray)

DataFrame으로 변환 시 칼럼명 지정 필요. : **pd.DataFrame(data,columns)**
- data: 리스트나 딕셔너리 또는 넘파이 ndarray를 입력.
- columns: 칼럼명 리스트를 입력.

In [15]:
import numpy as np

col_name1=['col1'] # 칼럼명 리스트
list1=[1,2,3] # 리스트
array1=np.array(list1) # 넘파이 ndarray
print('array1 shape:',array1.shape)

# 리스트를 이용해 DataFrame 생성.
df_list1=pd.DataFrame(list1,columns=col_name1)
print('1차원 리스트로 만든 DataFrame;\n',df_list1)

# 넘파이 ndarray를 이용해 DataFrame 생성.
df_array1=pd.DataFrame(array1,columns=col_name1)
print('1차원 ndarray로 만든 DataFrmae:\n',df_array1)

array1 shape: (3,)
1차원 리스트로 만든 DataFrame;
    col1
0     1
1     2
2     3
1차원 ndarray로 만든 DataFrmae:
    col1
0     1
1     2
2     3

In [16]:
# 3개의 칼럼명이 필요함.
col_name2=['col1','col2','col3']

# 2행x3열 형태의 리스트와 ndarray 생성한 뒤 이를 DataFrame으로 변환.
list2=[[1,2,3],
       [11,12,23]]
array2=np.array(list2)
print('array2 shape:',array2.shape)
df_list2=pd.DataFrame(list2,columns=col_name2)
print('2차원 리스트로 만든 DataFrame:\n',df_list2)
df_array2=pd.DataFrame(array2,columns=col_name2)
print('2차원 ndarray로 만든 DataFrame:\n',df_array2)

array2 shape: (2, 3)
2차원 리스트로 만든 DataFrame:
    col1  col2  col3
0     1     2     3
1    11    12    23
2차원 ndarray로 만든 DataFrame:
    col1  col2  col3
0     1     2     3
1    11    12    23

In [17]:
# Key는 문자열 칼럼명으로 매핑, Value는 리스트 형(또는 ndarray) 칼럼 데이터로 매핑.
dict={'col1':[1,11],'col2':[2,22],'col3':[3,33]}
df_dict=pd.DataFrame(dict)
print('딕셔너리로 만든 DataFrame:\n',df_dict)

딕셔너리로 만든 DataFrame:
    col1  col2  col3
0     1     2     3
1    11    22    33

### DataFrame을 넘파이 ndarray, 리스트, 딕셔너리로 변환하기

DataFrame -> ndarray

: array 만들기 **df_dict.values**

DataFrame -> 리스트

: array에 tolist() 호출 **df_dict.values.tolist()**

DataFrame -> 딕셔너리

: DataFrame에 to_dict() 호출 후 인자로 'list' 입력 **df_dict.to_dict('list')**

In [18]:
# DataFrame을 ndarray로 변환.
array3=df_dict.values
print('df_dict.values 타입:',type(array3),'df_dict.values shape:',array3.shape)
print(array3)

df_dict.values 타입: <class 'numpy.ndarray'> df_dict.values shape: (2, 3)
[[ 1  2  3]
 [11 22 33]]

In [19]:
# DataFrame을 리스트로 변환.
list3=df_dict.values.tolist()
print('df_dict.values.tolist() 타입:',type(list3))
print(list3)

# DataFrame을 딕셔너리로 변환.
dict3=df_dict.to_dict('list')
print('\n df_dict.to_dict() 타입:',type(dict3))
print(dict3)

df_dict.values.tolist() 타입: <class 'list'>
[[1, 2, 3], [11, 22, 33]]

 df_dict.to_dict() 타입: <class 'dict'>
{'col1': [1, 11], 'col2': [2, 22], 'col3': [3, 33]}

## DataFrame의 칼럼 데이터 세트 생성과 수정

In [20]:
# 'Age_0' 칼럼 추가.
titanic_df['Age_0']=0
titanic_df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_0
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0

In [21]:
# 기존 칼럼 Series를 가공해 'Age_by_10', 'Family_No' 생성.
titanic_df['Age_by_10']=titanic_df['Age']*10
titanic_df['Family_No']=titanic_df['SibSp']+titanic_df['Parch']+1
titanic_df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_0,Age_by_10,Family_No
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,220.0,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0,380.0,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,260.0,1

In [22]:
# 기존 칼럼 값 일괄 업데이트.
titanic_df['Age_by_10']=titanic_df['Age_by_10']+100
titanic_df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_0,Age_by_10,Family_No
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,320.0,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0,480.0,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,360.0,1

## DataFrame 데이터 삭제

drop() 메서드 이용.

DataFrame.drop(**labels=None,axis=0**,index=None,columns=None,level=None,**inplace=False**,errors='raise')

**labels**: 여러 개의 칼럼을 삭제하고 싶을 경우 **리스트** 형태로 삭제하고자 하는 칼럼명을 입력.

**axis**: 특정 칼럼 또는 특정 행을 드롭.
- axis=1 입력 시 **칼럼 드롭** (기존 칼럼 값을 가공 > 새로운 칼럼 생성, 삭제)
- axis=0 입력 시 로우 드롭 (이상치 데이터를 삭제하는 경우)

**inplace**
- 디폴트값 False: 자기 자신의 DataFrame의 데이터 삭제하지 않으며, 삭제된 결과 DataFrame 반환.
- **inplace=True** 설정할 경우에 자신의 DataFrame의 데이터 삭제.

In [23]:
# 'Age_0' 칼럼 삭제.
titanic_drop_df=titanic_df.drop('Age_0',axis=1)
titanic_drop_df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_by_10,Family_No
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,320.0,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,480.0,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,360.0,1

In [28]:
titanic_df.head(3) # inplace=False

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [30]:
drop_result=titanic_df.drop(['Age_0','Age_by_10','Family_No'],axis=1,inplace=True)
print('inplace=True로 drop 후 반환된 값:',drop_result)
titanic_df.head(3)

# titanic_df=titanic_df.drop(['Age_0','Age_by_10','Family_No'],axis=1,inplace=True)는 titanic_df의 객체 변수를 None으로 만듦.

KeyError: "['Age_0', 'Age_by_10', 'Family_No'] not found in axis"