<a href="https://colab.research.google.com/github/ys23-lys/ESAA/blob/main/ESAA_YB_WEEK1_%ED%95%84%EC%82%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 넘파이 ndarray 개요

In [ ]:
import numpy as np # as np: 약어로 모듈 표현.

In [ ]:
array1=np.array([1,2,3]) # array(): 인자를 ndarray로 변환.
print('array1 type:', type(array1))
print('array1 array 형태:', array1.shape) # shape: ndarray의 크기(행과 열의 수)를 가짐.
# 1차원 array로 데이터 3개 가짐.

array2=np.array([[1,2,3],[2,3,4]])
print('array2 type:', type(array2))
print('array2 array 형태:', array2.shape)
# 2차원 array로 raw 2개 col 3개 총 6개 가짐.

array3=np.array([[1,2,3]])
print('array3 type:', type(array3))
print('array3 array 형태:', array3.shape)
# 2차원 array로 raw 1개 col 3개 총 3개 가짐.

array1 type: <class 'numpy.ndarray'>
array1 array 형태: (3,)
array2 type: <class 'numpy.ndarray'>
array2 array 형태: (2, 3)
array3 type: <class 'numpy.ndarray'>
array3 array 형태: (1, 3)

In [ ]:
print('array1: {0}차원, array2: {1}차원, array3: {2}차원'.format(array1.ndim,array2.ndim,array3.ndim))

array1: 1차원, array2: 2차원, array3: 2차원

## ndarray의 데이터 타입
숫자 값, 문자열 값, 불 값 등...

숫자형
- int형(8bit, 16bit, 32bit)
- unsigned int형(int형과 동일)
- float형(16bit, 32bit, 64bit, 128bit)
- complex 타입: 더 큰 숫자 값, 정밀도를 위해 사용.


ndarray 내의 데이터 타입은 같은 데이터 타입만 가능. > **dtype 속성**으로 확인.

다른 유형이 섞여 있는 list를 ndarray로 변경하면 **데이터 크기가 더 큰 데이터 타입으로 형 변환** 일괄 적용.

ndarray 내 데이터값의 타입 변경 > **astype()** 메서드 이용.
- 대용량 데이터의 ndarray를 만들 때 많은 메모리가 사용되므로, 메모리를 절약해야 할 때 이용.

In [ ]:
list1=[1,2,3]
print(type(list1))
array1=np.array(list1)
print(type(array1))
print(array1,array1.dtype)

<class 'list'>
<class 'numpy.ndarray'>
[1 2 3] int64

In [ ]:
list2=[1,2,'test'] # int형 값과 문자열 섞인 list2
array2=np.array(list2)
print(array2,array2.dtype) # 유니코드 문자열 값으로 변환.

list3=[1,2,3.0] # int형과 float형이 섞인 list3
array3=np.array(list3)
print(array3,array3.dtype) # float64형으로 변환.

['1' '2' 'test'] <U21
[1. 2. 3.] float64

In [ ]:
array_int=np.array([1,2,3])
array_float=array_int.astype('float64') # astype()에 인자로 원하는 타입을 문자열로 지정.
print(array_float,array_float.dtype)

array_int1=array_float.astype('int32')
print(array_int1,array_int1.dtype)

array_float1=np.array([1.1,2.1,3.1]) # float형을 int형으로 변경할 경우 소수점 이하는 모두 없어짐.
array_int2=array_float1.astype('int32')
print(array_int2,array_int2.dtype)

[1. 2. 3.] float64
[1 2 3] int32
[1 2 3] int32

## ndarray를 편리하게 생성하기 - arange, zeros, ones

In [ ]:
sequence_array=np.arange(10) # arange(): array를 range()로 표현.
print(sequence_array)
print(sequence_array.dtype,sequence_array.shape)

[0 1 2 3 4 5 6 7 8 9]
int64 (10,)

In [ ]:
zero_array=np.zeros((3,2),dtype='int32') # zeros(): 모든 값을 0으로 채운 해당 shape를 가진 ndarray 반환.
print(zero_array)
print(zero_array.dtype,zero_array.shape)

one_array=np.ones((3,2)) # ones(): 모든 값을 1으로 채운 해당 shape를 가진 ndarray 반환.
print(one_array)
print(one_array.dtype,one_array.shape)

[[0 0]
 [0 0]
 [0 0]]
int32 (3, 2)
[[1. 1.]
 [1. 1.]
 [1. 1.]]
float64 (3, 2)

## ndarray의 차원과 크기를 변경하는 reshape()

reshape(): ndarray를 특정 차원 및 크기로 변환. > 변환을 원하는 크기를 함수 인자로 부여.
- 지정된 사이즈로 변경이 불가능할 경우 오류.

**인자로 -1을 적용하는 경우**

원래 ndarray와 호환되는 새로운 shape로 변환.
- 호환될 수 없는 형태는 변환 불가능하여 오류.
- **reshape(-1,1)**과 같은 형태로 자주 사용됨.

In [ ]:
array1=np.arange(10)
print('array1:\n',array1)

array2=array1.reshape(2,5) # row 2 col 5로 변환.
print('array2:\n',array2)

array3=array1.reshape(5,2) # row 5 col 2로 변환.
print('array3:\n',array3)

array1:
 [0 1 2 3 4 5 6 7 8 9]
array2:
 [[0 1 2 3 4]
 [5 6 7 8 9]]
array3:
 [[0 1]
 [2 3]
 [4 5]
 [6 7]
 [8 9]]

In [ ]:
array1.reshape(4,3) # 지정된 사이즈로 변경 불가능해서 오류.

ValueError: cannot reshape array of size 10 into shape (4,3)

In [ ]:
array1=np.arange(10)
print(array1)
array2=array1.reshape(-1,5) # row -1 col 5
print('array2 shape:',array2.shape) # col 5에 맞게 row를 자동으로 새롭게 생성해 변환.
array3=array1.reshape(5,-1) # row 5 col -1
print('array3 shape:',array3.shape) # row 5에 맞게 col을 자동으로 새롭게 생성해 변환.

[0 1 2 3 4 5 6 7 8 9]
array2 shape: (2, 5)
array3 shape: (5, 2)

In [ ]:
array1=np.arange(10)
array4=array1.reshape(-1,4) # 지정된 사이즈로 변경 불가능해서 오류.

ValueError: cannot reshape array of size 10 into shape (4)

In [ ]:
array1=np.arange(8)
array3d=array1.reshape((2,2,2))
print('array3d:\n',array3d.tolist())

# 3차원 ndarray를 2차원 ndarray로 변환
array5=array3d.reshape(-1,1)
print('array5:\n',array5.tolist())
print('array5 shape:',array5.shape)

# 1차원 ndarray를 2차원 ndarray로 변환
array6=array1.reshape(-1,1)
print('array6:\n',array6.tolist())
print('array6 shape:',array6.shape)

array3d:
 [[[0, 1], [2, 3]], [[4, 5], [6, 7]]]
array5:
 [[0], [1], [2], [3], [4], [5], [6], [7]]
array5 shape: (8, 1)
array6:
 [[0], [1], [2], [3], [4], [5], [6], [7]]
array6 shape: (8, 1)

## 넘파이의 ndarray의 데이터 세트 선택하기 - 인덱싱(Indexing)

1. 특정한 데이터만 추출
2. 슬라이싱
3. 팬시 인덱싱
4. 불린 인덱싱

### 1. 특정한 데이터만 추출 - 단일 값 추출
ndarray 객체에 해당하는 위치의 인덱스 값을 [] 안에 입력.
- 인덱스에 마이너스 기호를 이용하면 맨 뒤에서부터 데이터 추출 가능.

In [ ]:
# 1부터 9까지의 1차원 ndarry 생성
array1=np.arange(start=1,stop=10)
print('array1:',array1)
# index는 0부터 시작하므로 array1[2]는 3번째 index 위치의 데이터값을 의미
value=array1[2]
print('value:',value)
print(type(value))

array1: [1 2 3 4 5 6 7 8 9]
value: 3
<class 'numpy.int64'>

In [ ]:
print('맨 뒤의 값:',array1[-1], '맨 뒤에서 두 번째 값:',array1[-2])

맨 뒤의 값: 9 맨 뒤에서 두 번째 값: 8

In [ ]:
array1[0]=9 # 1번째 위치의 값을 9로 수정.
array1[8]=0 # 9번째 위치의 값을 0으로 수정.
print('array1:',array1)

array1: [9 2 3 4 5 6 7 8 0]

In [ ]:
array1d=np.arange(start=1,stop=10)
array2d=array1d.reshape(3,3)
print(array2d)

print('(row=0,col=0) index 가리키는 값:',array2d[0,0])
print('(row=0,col=1) index 가리키는 값:',array2d[0,1])
print('(row=1,col=0) index 가리키는 값:',array2d[1,0])
print('(row=2,col=2) index 가리키는 값:',array2d[2,2])

[[1 2 3]
 [4 5 6]
 [7 8 9]]
(row=0,col=0) index 가리키는 값: 1
(row=0,col=1) index 가리키는 값: 2
(row=1,col=0) index 가리키는 값: 4
(row=2,col=2) index 가리키는 값: 9

### 2. 슬라이싱
**':'** 기호를 이용하여 연속한 데이터를 추출. **[시작인덱스:종료인덱스]**
- 시작인덱스 또는 종료인덱스는 생략 가능.
- 2차원 ndarray에서 뒤쪽 인덱스를 없앤 경우: 1차원 ndarray 반환. (3차원일 경우 2차원 반환.)

In [ ]:
array1=np.arange(start=1,stop=10)
array3=array1[0:3]
print(array3)
print(type(array3))

[1 2 3]
<class 'numpy.ndarray'>

In [ ]:
array1=np.arange(start=1,stop=10)
array4=array1[:3] # =[0:3]
print(array4)

array5=array1[3:] # =[3:맨마지막인덱스]
print(array5)

array6=array1[:] # =[0:맨마지막인덱스]
print(array6)

[1 2 3]
[4 5 6 7 8 9]
[1 2 3 4 5 6 7 8 9]

In [ ]:
array1d=np.arange(start=1,stop=10)
array2d=array1d.reshape(3,3)
print('array2d:\n',array2d)

print('array2d[0:2,0:2]\n',array2d[0:2,0:2])
print('array2d[1:3,0:3]\n',array2d[1:3,0:3])
print('array2d[1:3,:]\n',array2d[1:3,:])
print('array2d[:,:]\n',array2d[:,:])
print('array2d[:2,1:]\n',array2d[:2,1:])
print('array2d[:2,0]\n',array2d[:2,0])

array2d:
 [[1 2 3]
 [4 5 6]
 [7 8 9]]
array2d[0:2,0:2]
 [[1 2]
 [4 5]]
array2d[1:3,0:3]
 [[4 5 6]
 [7 8 9]]
array2d[1:3,:]
 [[4 5 6]
 [7 8 9]]
array2d[:,:]
 [[1 2 3]
 [4 5 6]
 [7 8 9]]
array2d[:2,1:]
 [[2 3]
 [5 6]]
array2d[:2,0]
 [1 4]

In [ ]:
print(array2d[0])
print(array2d[1])
print('array2d[0] shape:',array2d[0].shape,'array2d[1] shape:',array2d[1].shape)

[1 2 3]
[4 5 6]
array2d[0] shape: (3,) array2d[1] shape: (3,)

### 3. 팬시 인덱싱(Fancy Indexing)
인덱스 집합을 지정하면 해당 위치의 인덱스에 해당하는 ndarray를 반환하는 인덱싱 방식.

In [ ]:
array1d=np.arange(start=1,stop=10)
array2d=array1d.reshape(3,3)

array3=array2d[[0,1],2] # row [0,1] col 2 적용.
print('array2d[[0,1],2] =>',array3.tolist())

array4=array2d[[0,1],0:2] # row [0,1] col 0~1 적용.
print('array2d[[0,1],0:2] =>',array4.tolist())

array5=array2d[[0,1]] # row만 [0,1] 적용.
print('array2d[[0,1]] =>',array5.tolist())

array2d[[0,1],2] => [3, 6]
array2d[[0,1],0:2] => [[1, 2], [4, 5]]
array2d[[0,1]] => [[1, 2, 3], [4, 5, 6]]

### 4. 불린 인덱싱
**조건 필터링 + 검색** 동시에 가능한 인덱싱 방식. > [] 안에 **조건문** 기재

In [ ]:
array1d=np.arange(start=1,stop=10)
# [] 안에 array1d > 5 Boolean indexing을 적용.
array3=array1d[array1d>5]
print('array1d>5 불린 인덱싱 결과 값:',array3)

array1d>5 불린 인덱싱 결과 값: [6 7 8 9]

In [ ]:
array1d>5

array([False, False, False, False, False,  True,  True,  True,  True])

In [ ]:
boolean_indexes=np.array([False, False, False, False, False,  True,  True,  True,  True])
array3=array1d[boolean_indexes]
print('불린 인덱스로 필터링 결과:',array3)

불린 인덱스로 필터링 결과: [6 7 8 9]

In [ ]:
indexes=np.array([5,6,7,8])
array4=array1d[indexes]
print('일반 인덱스로 필터링 결과:',array4)

일반 인덱스로 필터링 결과: [6 7 8 9]

## 행렬의 정렬 - sort()와 argsort()

**np.sort()**

원 행렬 유지, 원 행렬의 정렬된 행렬 반환.

**ndarray.sort()**

원 행렬 자체를 정렬한 형태로 변환. 반환 값=None
- 모두 오름차순으로 원소 정렬.
- 내림차순으로 정렬할 경우 **[::-1]** 적용.

**np.argsort()**

원본 행렬이 정렬되었을 때 기존 원본 행렬의 원소에 대한 인덱스를 반환. (ndarray형으로)
- 내림차순으로 정렬 시의 원본 행렬의 인덱스를 구할 때도 **[::-1]** 적용.

In [ ]:
org_array=np.array([3,1,9,5])
print('원본 행렬:',org_array)
# np.sort()로 정렬.
sort_array1=np.sort(org_array)
print('np.sort() 호출 후 반환된 정렬 행렬:',sort_array1)
print('np.sort() 호출 후 원본 행렬:',org_array)
# ndarray.sort()로 정렬.
sort_array2=org_array.sort()
print('org_array.sort() 호출 후 반환된 행렬:',sort_array2)
print('org_array.sort() 호출 후 원본 행렬:',org_array)

원본 행렬: [3 1 9 5]
np.sort() 호출 후 반환된 정렬 행렬: [1 3 5 9]
np.sort() 호출 후 원본 행렬: [3 1 9 5]
org_array.sort() 호출 후 반환된 행렬: None
org_array.sort() 호출 후 원본 행렬: [1 3 5 9]

In [ ]:
sort_array1_desc=np.sort(org_array)[::-1]
print('내림차순으로 정렬:',sort_array1_desc)

내림차순으로 정렬: [9 5 3 1]

In [ ]:
array2d=np.array([[8,12],[7,1]])
sort_array2d_axis0=np.sort(array2d,axis=0) # row 방향: axis0
print('로우 방향으로 정렬:\n',sort_array2d_axis0)
sort_array2d_axis1=np.sort(array2d,axis=1) # col 방향: axis1
print('칼럼 방향으로 정렬:\n',sort_array2d_axis1)

로우 방향으로 정렬:
 [[ 7  1]
 [ 8 12]]
칼럼 방향으로 정렬:
 [[ 8 12]
 [ 1  7]]

In [ ]:
org_array=np.array([3,1,9,5])
sort_indices=np.argsort(org_array)
print(type(sort_indices))
print('행렬 정렬 시 원본 행렬의 인덱스:',sort_indices)

<class 'numpy.ndarray'>
행렬 정렬 시 원본 행렬의 인덱스: [1 0 3 2]

In [ ]:
org_array=np.array([3,1,9,5])
sort_indices_desc=np.argsort(org_array)[::-1]
print('행렬 내림차순 정렬 시 원본 행렬의 인덱스:',sort_indices_desc)

행렬 내림차순 정렬 시 원본 행렬의 인덱스: [2 3 0 1]

In [ ]:
import numpy as np

name_array=np.array(['John','Mike','Sarah','Kate','Samuel'])
score_array=np.array([78,95,84,98,88])

sort_indices_asc=np.argsort(score_array)
print('성적 오름차순 정렬 시 score_array의 인덱스:',sort_indices_asc)
print('성적 오름차순으로 name_array의 이름 출력:',name_array[sort_indices_asc])

성적 오름차순 정렬 시 score_array의 인덱스: [0 2 4 1 3]
성적 오름차순으로 name_array의 이름 출력: ['John' 'Sarah' 'Samuel' 'Mike' 'Kate']

## 선형대수 연산 - 행렬 내적과 전치 행렬 구하기

In [ ]:
# 행렬 내적: np.dot() 이용.

A=np.array([[1,2,3],
            [4,5,6]])
B=np.array([[7,8],
            [9,10],
            [11,12]])
dot_product=np.dot(A,B)
print('행렬 내적 결과:\n',dot_product)

행렬 내적 결과:
 [[ 58  64]
 [139 154]]

In [ ]:
# 전치 행렬: transpose() 이용.

A=np.array([[1,2],
            [3,4]])
transpose_mat=np.transpose(A)
print('A의 전치 행렬:\n',transpose_mat)

A의 전치 행렬:
 [[1 3]
 [2 4]]